h2{
    background-color: bisque;
    }

    h3{
        font-size: large;
        background-color: aqua;
    }
    br{
        font-size: large;
        font-family: 'Courier New', Courier, monospace;
        b
    }
    

.main-heading {
    background-color: purple;
    border-style: dotted;
    border-color: blue;

}
p{
    font-style: normal;
    border-width: 2px;
    line-height: 30px;
    padding: 0 20px;
    color: black
}
body{
    background-color: darkgray;
    font-size: larger;
    margin-right: 400px;
    margin-left: 400px;
    border-style: double;
    
}
p {
    text-align: center;
    color: red;
}